body {
  font-family: Rubik;
  background-color: #f0f0f0;
  padding: 20px;
}
h1 {
  color: #227cd6;
  text-align: center;
}
p {
  color: #555;
  text-align: center;;
}
ul {
  list-style-type: none;
  padding: 0;
  width: 480px;
  margin: 30px auto;
}
li {
  color: #fff;
  background-color: #227cd6;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}